#text-1 {
    padding-right: 290px;
}

#text-2{
    padding-right: 400px;
}

a {
    color: rgb(255, 217, 0);
}
img{
    margin-top: 10px;
}

body {
    background-image: url('index_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}